{% load staticfiles %}
{% include "head_css.html" %}
{% include "javascript.html" %}

<!DOCTYPE html>
<html>
<body>
<body style="background-color:pink;">
<center><h1> DETL WAU DETL </h1>
<!--{{ instance }}
{{ object_list }}
{{ cur }}-->


<!--<button type="button" class="btn btn-default">Default</button>-->
<!--<i class="fa fa-arrow-circle-down fa-4x text-primary"></i>-->

<!--<a href="{% url 'home' %}">click</a>-->
<form method='POST' action=''> {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-danger btn-lg img-fade" type='submit' value='gulp'>
    
</form>

Detl has been sober for {{ min_delt }} minutes and {{sec_delt }} seconds <br/>
<br/>
<br/>
current time: {{ current }} <br/>

<!--{% now "jS F Y H:i" %}-->
Last time someone drank: {{ latest }} <br/>
{% for obj in object_list %}<br/>
Someone at detl drank @ {{ obj.timestamp}}
{% endfor %} <br/>

<head>
<script>
            var chart;

            var chartData = [
                                {
                    "name": "Joe",
                    "startTime": 10,
                    "endTime": 13,
                    "color": "#FF9E01"
                },
                {
                    "name": "Susan",
                    "startTime": 11,
                    "endTime": 18,
                    "color": "#F8FF01"
                },
                {
                    "name": "Eaton",
                    "startTime": 15,
                    "endTime": 19,
                    "color": "#04D215"
                }
            ];


            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "name";
                chart.rotate = true;
                chart.columnWidth = 0.9;
                chart.startDuration = 1;

                // AXES
                // Category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";

                // Value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                chart.addValueAxis(valueAxis);

                // GRAPH
                var graph = new AmCharts.AmGraph();
                graph.valueField = "endTime";
                graph.openField = "startTime";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.colorField = "color";
                graph.fillAlphas = 0.8;
                chart.addGraph(graph);

                chart.creditsPosition = "top-right";

                // WRITE
                chart.write("chartdiv");
            });
        </script>
</head>

<body>
        <div id="chartdiv" style="width: 100%; height: 400px;"></div>
    </body>

{% include 'catparallax.html' %}


</body>
</center>


</html>
