{% load staticfiles %}
{% include "head_css.html" %}
{% include "javascript.html" %}

<!DOCTYPE html>
<html>
<body>
<body style="background-color:pink;">
<h1> DETL WAU DETL </h1>
<!--{{ instance }}
{{ object_list }}
{{ cur }}-->


<!--<button type="button" class="btn btn-default">Default</button>-->
<!--<i class="fa fa-arrow-circle-down fa-4x text-primary"></i>-->

<!--<a href="{% url 'home' %}">click</a>-->
<form method='POST' action=''> {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-danger btn-lg img-fade" type='submit' value='gulp'>
    
</form>

Detl has been sober for {{ min_delt }} minutes and {{sec_delt }} seconds <br/>
<br/>
<br/>
current time: {{ current }} <br/>

<!--{% now "jS F Y H:i" %}-->
Last time someone drank: {{ latest }} <br/>
{% for obj in object_list %}<br/>
Someone at detl drank @ {{ obj.timestamp}}
{% endfor %} <br/>
{% include 'catparallax.html' %}


</body>
</html>
